/*!* CSS HEX *!*/
/*--imperial-red: #e63946ff;*/
/*--honeydew: #f1faeeff;*/
/*--powder-blue: #a8dadcff;*/
/*--celadon-blue: #457b9dff;*/
/*--prussian-blue: #1d3557ff;*/





/*Global Styles*/
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
img {
    width: 300px;
}
body {
    color: #343434;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    line-height: 1.5;
}
a {
    color: bisque;
}
a:hover {
    text-decoration: none;
}
h1 {
  font-size: 80px;
}
h2 {
    font-size: 40px;
}
h1, h2 {
    font-family: 'Caveat', cursive;
    font-weight: 400;
    margin: 0;
}
.content-wrap {
    width: 900px;
    margin: 0 auto;
    padding: 60px 0;
}

/*Profile*/
header {
    background: #a8dadcff;
}

/*Projects*/
.projects {
    background: #f1faeeff;
}
.projects a {

}
.projects a {
    color: cadetblue;
    background: burlywood;
    text-decoration: none;
    padding: 8px;
    border-radius: 4px;
}
.projects a:hover {
    background: rgba(47, 48, 97, 80);
}

/*work*/
.work-experience {
    background: #e63946ff;
    color: #F7FFF7;
}

/*education*/
.education {
    background: #1d3557ff;
    color: azure;
}

/*education*/
footer {
    background: #343434;
    color: #F7FFF7;
}
